<div class="col-md-12">

  <div class="col-md-2">
    <%= image_tag usuario.foto.url(:thumb), class: "img-responsive img-circle center-block" %>
  </div>

  <div class="col-md-10">
    <p><%= link_to "#{usuario.nome}", usuario_path(usuario), class: "" %> </p>

    <p> <%= usuario.email %> </p>

  </div>
  <div class="col-md-12">
    <hr>
  </div>
</div>



