<div class="container-fluid ">

  <%= render 'usuarios/dados_basicos' %>

  <div class="col-md-9">

    <div class="page-header">
      <h3><%= @titulo %> </h3>
    </div>
    <% if @usuarios.present? %>

        <%= render @usuarios %>

        <div class="digg_pagination" >
          <%= will_paginate @usuarios %>
        </div>

    <% else %>
        <h4>Não foram encontrados usuários.</h4>
    <% end %>

  </div>

</div>
